/* Estilos base - Mobile first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #008080;
    background-color: #F8F8FF;
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
}

header, footer {
    display: flex;
    flex-direction: column;
    background-color: #00CED1;
    align-items: center;
    padding: 1em 0;
}

footer {
    margin-top: auto; /* Empuja el footer al fondo */
    gap: 10px;
}

footer h2 {
    font-weight: 200;
    font-size: 20px;
    gap: 10px;
}

main {
    flex: 1; /* Hace que el main ocupe todo el espacio disponible */
    margin: 30px 0;
}

main nav{
    display: flex;
    justify-content: center;
    align-items: center;

}

main nav a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #008080;
}
main nav i {
    font-size: 20px; /* Ajusta el tamaño de los íconos */
    color: #008080;/* Cambia el color de los íconos */
}
main nav i:hover {
    color: black; /* Cambia el color cuando pasas el cursor sobre el ícono */
}

/* Alineación de los íconos del footer */
footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top:15px;
    padding: 5px 0;
}

footer nav a {
    text-decoration: none;
    color: #F8F8FF;
}

footer nav i {
    font-size: 18px;
    transition: color 0.3s ease;
}

footer nav i:hover {
    color: black;
}

/* Estilos para el contenido principal */
.logo img {
    height: 50px;
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
}

nav a {
    color: #F8F8FF;
    font-weight: 700;
    text-decoration: none;
}

.nombre-footer {
    padding: 20px 0;
    font-size: 12px;
    text-decoration: none;
    color: #F8F8FF;
    font-weight: 0;
}

nav a:hover {
    color: black;
}

.principal {
    font-size: 55px;
    text-align: center;
    margin: 25px;
    line-height: 1.1;
    padding: 10px 0px;
}

#nombre-inicio {
    margin-bottom: 0;
}

#profesion {
    text-align: center;
    font-size: 18px;
    margin: 10px 0px;
}

main p, div ul {
    line-height: 1.5;
    margin: 15px 40px;
    text-align: justify;
    font-size: 18px;
}

main h3 {
    line-height: 1.5;
    margin: 15px 40px;
    text-align: justify;
    font-size: 25px;
}

hr {
    border: 1px solid #008080;
    margin: 25px 25px;
}

#sm {
    margin: 40px;
    text-decoration: none;
    color: #008080;
    font-weight: 700;
    padding-top: 10px;
    font-size: 18px;
}

#sm:hover {
    color: black;
}

#presentacion {
    color: black;
    font-size: 22px;
    text-align: justify;
}

/* Ajustes para pantallas más grandes */
@media (min-width: 700px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        min-height: 70px;
    }

    nav {
        flex-direction: row;
        gap: 20px;
    }

    .logo img {
        margin-right: 20px;
        margin-bottom: 0;
    }

    footer {
        flex-direction: row;
        justify-content: center;
        padding: 1em 2em;
    }

    .nombre-footer {
        padding: 0;
    }
}